DB_CONNECTION_DOCKER="server=database;port=3306;database=SmartWalletDb;user=root;password=pa$$w8rd"
DB_CONNECTION_EXTERNAL="server=localhost;port=3306;database=SmartWalletDb;user=root;password=pa$$w8rd"

APP__NAME="SmartWallet"
APP__VERSION="1.0"

GOOGLE_AUTH__CLIENTID = ""
GOOGLE_AUTH__CLIENTSECRET = ""

COINMARKETAPI__APIKEY=""

NEWSAPI__APIKEY=""

AUTH__JWTSECURITYKEY="JwtSecurityKey"