.stats-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.stat {
    display: flex;
    justify-content: space-between;
}

.stat__name {
    font-size: 1.2rem;
    font-weight: 500;
}

.stat__value {
    font-size: 1.2rem;
}